@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Arizonia);

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(#1c0602, #633);
    background-position-y: 128px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white; 
}

div.headerBackground {
  background: #1c0602;
  height: 128px;
  width: 100%;
  position: absolute;  
  z-index: -1;
}
