@import url(https://fonts.googleapis.com/css?family=Arizonia);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import 'common';

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient($brand-dark, $brand-primary);
    background-position-y: $header-height;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div.headerBackground {
  background: $brand-dark;
  height: $header-height;
  width: 100%;
  position: absolute;  
  z-index: -1;
}

div.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .loadingMessage {
        margin-top: $padding-large-vertical * 2;
        font-size: 1.5em;
        letter-spacing: 0.25em;
    }
}
