@import '../../../public/css/common';

.ingredientTag {
  margin-top: $padding-small-vertical;
  padding: $padding-small-vertical $padding-small-horizontal;
  display: inline-block;
  font-weight: normal;

  i {
    margin-right: 0.5em;
  }
}