<form>
  <div class='form-group'>
    <label for='search'>Find a recipe</label>
    <div class='input-group'>
      <input type='text' 
            class='form-control' 
            id='search' 
            name='search'
            placeholder='What are you in the mood for?'
            typeaheadMinLength='1'           
            [(ngModel)]='searchTerm'
            [typeahead]='searchHints'
            (typeaheadOnSelect)='typeaheadOnSelect($event)'>      
      <span class='input-group-btn'>
        <button type='submit' class='btn btn-primary' (click)='search($event)' [disabled]='busy'>
          <i [ngClass]='getSearchButtonClasses()'></i>
        </button>
      </span>
    </div>
  </div>
</form>
<div *ngIf='recipes && recipes.length > 0' class='searchResults'>
  <cb-search-result *ngFor='let recipe of recipes; let last = last' [recipe]='recipe' [last]='last'></cb-search-result>
</div>
<div *ngIf='!recipes || recipes.length === 0' class='emptyResults'>
  <i [ngClass]='getEmptyResultsClasses()'></i>
</div>