<div class='page-header clearfix'>
  <img class='img-rounded recipe-picture-xs pull-left' [src]='getPicture()' [alt]='recipe.title'/>
  <div class='title-container' [style.background-image]="'url(' + getPicture() + ')'">
    <h2>{{ recipe.title }}<i *ngIf='recipe.favorite' class='fa fa-star'></i></h2>    
  </div>
  <div class='book'>{{ recipe.book.title }} p. {{ recipe.page }}</div>
</div>

<div class='row'>
  <div class='col-xs-12 col-sm-7'>
    <div class='row' *ngIf='recipe.notes'>
      <div class='col-xs-12'>
        <div class='alert alert-info' role='alert'>{{ recipe.notes }}</div>        
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-12'>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            <h3 class='panel-title'>Ingredients</h3>
          </div>
          <div class='panel-body'>
            {{ getIngredients() }}
          </div>
        </div>    
      </div>  
    </div>
    <div class='row'>
      <div class='col-xs-12'>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            <h3 class='panel-title'>Tags</h3>
          </div>
          <div class='panel-body'>
            <span class='label label-default' *ngFor='let tag of recipe.tags'>{{ tag.name }}</span>
          </div>
        </div> 
      </div>      
    </div>
  </div>
  <div class='col-xs-12 col-sm-5'>
    <img class='img-rounded recipe-picture' [src]='getPicture()' [alt]='recipe.title'/>
  </div>
</div>