@import '../../public/css/common';

div.bannerGradient {
  background: linear-gradient(to right, $brand-dark, rgba($brand-dark, 0));
  height: $header-height;
  width: 100px;  
  float: right;
  margin-right: 200px;
}

div.banner {
  background-image: url(../../public/images/header.png);
  background-position: right top; 
  background-repeat: no-repeat;
  height: $header-height;
}

h1 {
  color: $brand-accent;
  padding: 0 0 2px 0;
  margin: -63px 0 0 0;
  font-family: 'Arizonia', cursive;
  font-size: 4em;
  letter-spacing: 4px;
  text-shadow: 4px 4px 2px #000;
}

nav {
  background-color: $brand-primary;
  border-top-left-radius: 6px;
  padding: 6px;

  a {
    color: $brand-accent;

    :hover {
      color: $brand-accent2;
    }
  }
}

div.content {
  background-color: white;
  padding-top: 15px;
  color: $gray-dark;
}

footer {
  color: $brand-accent2;
  font-size: .75em;
  padding-top: .85em;
}