@import '../../public/css/common';

div.bannerGradient {
  background: linear-gradient(to right, $brand-dark, rgba($brand-dark, 0));
  height: $header-height;
  width: 100px;  
  float: right;
  margin-right: 200px;
}

div.banner {
  background-image: url(../../public/images/header.png);
  background-position: right top; 
  background-repeat: no-repeat;
  height: $header-height;
}

h1 {
  color: $brand-accent;
  padding: 0 0 2px 0;
  margin: -63px 0 0 0;
  font-family: 'Arizonia', cursive;
  font-size: 4em;
  letter-spacing: 4px;
  text-shadow: 4px 4px 2px $brand-dark;
}

nav {
  background-color: $brand-primary;
  border-top-left-radius: $border-radius-large;
  padding: $padding-base-vertical $padding-base-horizontal;

  a {
    color: $brand-accent;

    &:hover {
      color: $brand-accent2;
    }
  }
}

div.content {
  background-color: white;
  padding-top: $form-group-margin-bottom;
  color: $gray-dark;
  border-bottom-left-radius: $border-radius-large;
  border-bottom-right-radius: $border-radius-large;
  height: $content-height;
}

footer {
  color: $brand-accent2;
  font-size: $font-size-small;
  padding: $padding-small-vertical 0;  
}